.nvc-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 2rem;
	min-height: calc(100vh - 100px);

	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	overflow-y: auto;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-content {
	margin-top: 1rem;
	flex-grow: 1;
}
