html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Base layout */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	background-color: #f5f5f5;
}

/* App-level container centering */
#root {
	display: flex;
	flex-direction: column; /* so children stack vertically */
	min-height: 100vh; /* ensure it takes full screen height */
	background-color: #f5f5f5;
	padding: 0; /* or keep 2rem if you like, but it can affect stickiness */
}

.app-header {
	width: 100%;
	background: #6fad81;
}

/* Root layout wrapper */
.nvc-wizard {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
	background-color: green;
	float: right;
	padding: 0.5em;
	margin: 0.5em;
	color: white;
}

.app-header h1 {
	width: 100%;
	color: white;
	font-size: 20px;
	margin: 1rem;
}

/* Textareas (used in Observation etc) */
textarea {
	width: 100%;
	max-width: 100%;
	margin-top: 1rem;
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	resize: vertical;
	box-sizing: border-box;
}

.smaller {
	margin: 0;
	font-size: 10px;
}

.subtle-button {
	background: none;
	border: none;
	color: #555;
	font-size: 0.95rem;
	cursor: pointer;
	text-decoration: underline;
}
.subtle-button:hover {
	color: #000;
}

/* TABLES */
my-.tables table {
	width: 95%;
	border-collapse: collapse;
}

.my-table th,
.my-table td {
	border: 1px solid #ccc;
	padding: 0.5rem;
	text-align: left;
}

.my-table th {
	background-color: #f2f2f2;
}
